body {
  font-family: 'Oswald', sans-serif;
  margin: 0px;
  padding: 0px;
}

a:link{
    text-decoration:none; 
}

.container {
    width: 100%;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #3b5998;
}

.logo {
    float: left;
    width: 50%;
    height: 80px;
}

.barrederechercheheader {
    padding-top: 15px;
    float: left;
    width:25%;
    height: 80px;
}

.btncreerunprofil {
    padding-top: 5px;
    float: left;
    width:50%;
    height: 50px;
    text-align: right;
}

input[name=search] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('image/searchicon.png');
    background-size: 25px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[name=nom] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-size: 25px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[name=prenom] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-size: 25px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[name=url] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-size: 25px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[name=datedenaissance] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-size: 25px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.button {
    background-color: #4CAF50;
    border: none;
    padding-top: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    margin:4px 8px;
    cursor: pointer;
    height:80%;
    width:250px;
}

.button:hover{
    background-color: black;
}


h1 {
    color: white;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 35px;
}

h2 {
    color: #3b5998;
    text-transform: uppercase;
    font-size: 20px;
}

h3 {
    color: #3b5998;
    font-size: 14px;
}

h5 {
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    
}

h6 {
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    
}

p {
    color: black;
    padding-left: 20px;
    font-size: 14px;
    text-align: center;
}

.divNPPB {
    background-color: #dfe3ee;
    text-align: left;
}

.Submit {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height:50px;
    width:250px;

}

.Submit:hover{
    background-color: black;
}



table {
    width: 100%;
    margin: auto;
}

th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #8b9dc3;
    color: #3b5998;
    padding-left: 20px;
    font-size: 14px;
}

td {
    color: black;
    font-size: 14px;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #8b9dc3;
}

.footer {
    background-color: #ffffff;
    width:100%;
    height: 80px;
    padding-top: 25px;
    text-align: center;
}

