body {
  font-family: 'Oswald', sans-serif;
  margin: 0px;
  padding: 0px;
}

a:link{
    text-decoration:none; 
}

.container {
    width: 100%;
}

.gigasearchbar {
    padding-top: 15px;
    padding-left: 2%;
    width:95%;
    height: 80px;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #3b5998;
}

.logo {
    float: left;
    width: 50%;
    height: 80px;
}

.barrederechercheheader {
    padding-top: 15px;
    float: left;
    width:25%;
    height: 80px;
}

.btncreerunprofil {
    padding-top: 5px;
    float: left;
    width:50%;
    height: 50px;
    text-align: right;
}

.title {
    width: 100%;
    height: 50px;
    background-color: #8b9dc3;
}

.titleprofil {
    float: left;
    width:50%;
    height: 25px;
}

.titlelistcontact {
    float: right;
    width:50%;
    height: 25px;
}

.contenu {
    width: 100%;
    background-color: #dfe3ee;
    display: inline-block;
}

.contenuprofil {
    float: left;
    width:50%;
    background-color: #dfe3ee;
    display: block;
}

.contenulistcontact img {
    height:70px ;
    width:70px;
}

img {
    display:block;
    margin-left:auto;
    margin-right:auto;
    height:300px ;
    width:300px;
}

.contenulistcontact {
    float: right;
    width:50%;
    background-color: #dfe3ee;
    display: block;
    line-height : 1px;
}

.footer {
    background-color: #ffffff;
    text-align: center;
    width:100%;
    height: 80px;
    padding-top: 25px;
    display:inherit;

}

h1 {
    color: white;
    text-transform: uppercase;
    padding-left: 20px;
    font-size: 35px;
}

h2 {
    color: white;
    text-transform: uppercase;
    padding-left: 20px;
    font-size: 20px;
}

h3 {
    color: #3b5998;
    padding-left: 20px;
    font-size: 14px;
}

h4 {
    color: #8b9dc3;
    padding-left: 20px;
    font-size: 12px;
}

h5 {
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    
}

h6 {
    color: #3b5998;
    text-transform: uppercase;
    font-size: 12px;
    
}

p {
    color: black;
    padding-left: 20px;
    font-size: 14px;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    background-color: white;
    background-image: url('image/searchicon.png');
    background-size: 25px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


.button {
    background-color: #4CAF50;
    border: none;
    padding-top: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    margin:4px 8px;
    cursor: pointer;
    height:80%;
    width:250px;
}

.button:hover{
    background-color: black;
}


table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

th {
    text-align: left;
    border-bottom: 1px solid #8b9dc3;
    color: #3b5998;
    padding-left: 20px;
    font-size: 14px;
}

td {
    color: black;
    font-size: 14px;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #8b9dc3;
}

 tr:hover {
      background-color: #ffff99;
    }
